@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #ffffff;
}

/* [data-theme="dark"] body {
  --foreground: #ffffff;
  --background: #000000;
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

[data-theme="dark"] body {
  color: var(--background);
  background-color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* [data-theme="light"] body {
  background-color: #ffffff;
  color: #000000;
} */

/* [data-theme="carDoctorTheme"] .btn {
  border-width: 2px;
  border-color: #ff3811;
  color: white;
} */

/* [data-theme="light"] .btn {
  border-width: 2px;
  border-color: #ff3811;
  color: white;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
